/* ================
 * Shelf picture and layout
 * ================ */
div.shelf {
  width: 80%;
  margin-top: 3em;
}
h4.shelf-label{
  margin-top: 0.25em;
  font-variant: small-caps;
  letter-spacing: 3px;
  text-transform: lowercase;
}

div.shelf-img-wrapper {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  padding: 0;
  display: flex;
  align-items: flex-end;
}
div.shelf-img-wrapper > img.shelf-filler-img {
  max-width: 16%;
}
div.shelf-img-wrapper > img.shelf-book-img {
  max-width: calc((100% - (16% * 4)) / 3);
}

img.shelf-img {
  margin-left: 5%;
  width: 90%;
  vertical-align: bottom;
}
div.shelf-row {
  display: flex;
  align-items: flex-end;
}
div.shelf-bottom {
  display: block;
  width: 100%;
  height: 1.5em;
  color: blue;
  box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.2);
}

/* ================
 * Result rows
 * ================ */
img.book-result {
  box-shadow: 0px -2px 7px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
h4.see-more {
  width: 80%;
  margin-top: 2em;
  text-align: right;
}

/* ================
 * Book detail panel: basic stuff
 * ================ */
div.book-popup-panel {
  height: 38em;
  width: 80%;
  background-color: rgba(0,0,0,0.1);
  margin-left:0em;
}
h2.book-title{
  margin-top: 1.3em;
  padding: 0em;
  font-size: 26px;
}
p.book-description{
  line-height: 20px;
}

/* ================
 * Book detail panel: main book image
 * ================ */
.book-image-container{
  display: inline-block;
  position: relative;
}
img.book-detail-pic {
  position: absolute;
  top: 2em;
  left: 10%;
  width: 16em;
  height: 25em;
  z-index: 1;
  margin-left: 0em;
}
.book-image-container .book-hover-overlay{
  position: absolute;
  left: 10%;
  top: 2em;
  width: 16em;
  height: 25em;
  z-index: 0;
}
.book-image-only:hover .book-hover-overlay{
  background-color: rgba(0,0,0,0.6);
  display: block;
  z-index: 2;
}
.book-image-container .book-hover-options{
  text-align: center;
  position: relative;
  color: white;
  vertical-align: middle;
  z-index: 3;
}
.book-image-container .book-hover-options-container{
  position: absolute;
  top: 0em;
  width: 16em;
  height: 25em;
  padding-top: 40%;
  vertical-align: middle;
}

/* ================
 * Book detail panel: reviews
 * ================ */
 img.page-corner{
  position: absolute;
  width: 3.5em;
  top: 23.5em;
  left: 14.4em;
  z-index: 2;
 }

/* ================
 * Book detail panel: reviews
 * ================ */
 div.ratings{
  position: absolute;
  left: 10%;
  top: 28.5em;
  width: 16em;
  text-align: center;
 }

/* ================
 * Book detail panel: buttons
 * ================ */
div.cart-shelf {
  text-align: right;
  margin-top: 0em;
}
div.exit-button{
  height: 2em;
}
.cart-button{
  background-color: #CCB7AE;
  padding: 0.1em;
  padding-left: 0.8em;
  text-align: left;
  margin-bottom: 1em;
}
.shelf-button{
  background-color: #CCB7AE;
  padding: 0.1em;
  padding-left: 0.8em;
  text-align: left;
  margin-bottom: 1em;
}

/* ================
 * Book detail panel: related books
 * ================ */
div.result-row-mini{
  margin: auto;
  vertical-align: bottom;
  padding:0em;
}

div.result-bottom-mini {
  display: block;
  width: 100%;
  height: 1.5em;
  background-color: white;
  opacity: 1;
  box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.2);
  z-index: 200;
}

div.book-result-mini-col {
  padding-left: 0.5em;
}
div.book-result-mini-col img.shelf-book-img {
  box-shadow: 0px -2px 7px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* ================
 * Book detail panel: related shelves
 * ================ */
h4.shelf-label-mini{
  margin-top: 0.25em;
  font-variant: small-caps;
  letter-spacing: 3px;
}
.shelf-img-mini {
  width: 100%;
  vertical-align: bottom;
}
div.shelf-bottom-mini {
  display: block;
  width: 100%;
  height: 1.5em;
  background-color: white;
  box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.2);
}
div.shelf-mini {
  width: 100%;
  margin-top: 0em;
}

