<div id="searchbar-container">
  <form role="search" method="post" class="form-inline" action="/search">
    <div class="form-group search-group">
      <input id="searchbar" name="search_term" type="text" class="form-control" placeholder="Search">
    </div>
  </form>
</div>
