<div id="searchbar-container">
  <form role="search" class="form-inline" action="search.html">
    <div class="form-group search-group">
      <input id="searchbar" type="text" class="form-control" placeholder="Search">
    </div>
  </form>
</div>
