<a href="<%= url("/shelf") %>">
  <div class="shelf">
    <img class="shelf-img" src="images/shelf.png">
    <div class="shelf-bottom"></div>
    <h4 class="shelf-label">shelf label</h4>
  </div>
</a>
