<a href="/shelf/<%= shelf_id %>">
  <div class="shelf">
    <img class="shelf-img" src="images/shelf.png">
    <div class="shelf-bottom"></div>
    <h4 class="shelf-label"><%= shelf_id %></h4>
  </div>
</a>
