<div class="col-main col-sm-10 col-sm-offset-2">
  <%= erb :_searchbar %>

  <div>
  <% @book_data.each do |shelf_id, books| %>
    <%= erb :_shelf_image, :locals => { :shelf_id => shelf_id, :books => books } %>
  <% end %>
  </div>
</div>
